<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Todo app</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container" id="todo">
			
			<section class="panel">	

				
				<button @click="selectAll" id="mark-all" :checked="areAllSelected">Select All</button>
				<input v-model="newTask" @keyup.enter="addTask" placeholder="   - - - - Please Enter - - - - " autofocus class="text-input">
				<button @click="clearList">Delete All</button>

			</section>
			<section class="list">
				<ul class="list-item">
				<li v-for="task in tasks" :class="{done: isChecked(task)}">
				<input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
				<input type="text" v-if="task === editingTask" v-auto-focus class="text-input" @keyup.enter="endEditing(task)" @blur="endEditing(task)" v-model="task.text">
				<label for="checkbox" v-if="task !== editingTask" @dblclick="editTask(task)">{{ task.text }}</label>
				<button class="delete" @click="removeTask(task)">Delete</button>
				</li>
				</ul>
			</section> </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="app.js" charset="utf-8"></script>
	
</body>
</html>